ZpDemo/Web References/WsReference/HighpinCnWsi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.highpin.cn" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.highpin.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">智联卓聘网跨站查询WEB服务接口。&lt;br /&gt;&lt;br /&gt;此服务允许JavaScript进行访问。</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.highpin.cn">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RequestSessionTag">
        <s:complexType />
      </s:element>
      <s:element name="RequestSessionTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestSessionTagResult" type="tns:ClientSessionTag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientSessionTag">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="PerformFirstStep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionTag" type="tns:ClientSessionTag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformFirstStepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformFirstStepResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestValidatingCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionTag" type="tns:ClientSessionTag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestValidatingCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestValidatingCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestSessionTagSoapIn">
    <wsdl:part name="parameters" element="tns:RequestSessionTag" />
  </wsdl:message>
  <wsdl:message name="RequestSessionTagSoapOut">
    <wsdl:part name="parameters" element="tns:RequestSessionTagResponse" />
  </wsdl:message>
  <wsdl:message name="PerformFirstStepSoapIn">
    <wsdl:part name="parameters" element="tns:PerformFirstStep" />
  </wsdl:message>
  <wsdl:message name="PerformFirstStepSoapOut">
    <wsdl:part name="parameters" element="tns:PerformFirstStepResponse" />
  </wsdl:message>
  <wsdl:message name="RequestValidatingCodeSoapIn">
    <wsdl:part name="parameters" element="tns:RequestValidatingCode" />
  </wsdl:message>
  <wsdl:message name="RequestValidatingCodeSoapOut">
    <wsdl:part name="parameters" element="tns:RequestValidatingCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="HighpinCnWsiSoap">
    <wsdl:operation name="RequestSessionTag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">请求一个会话标记。</wsdl:documentation>
      <wsdl:input message="tns:RequestSessionTagSoapIn" />
      <wsdl:output message="tns:RequestSessionTagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PerformFirstStep">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">执行第一步，请求卓聘网的首页数据。&lt;br /&gt;sessionTag:客户端会话标记。</wsdl:documentation>
      <wsdl:input message="tns:PerformFirstStepSoapIn" />
      <wsdl:output message="tns:PerformFirstStepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestValidatingCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">向卓聘网申请验证码。&lt;br /&gt;sessionTag:客户端会话标记。</wsdl:documentation>
      <wsdl:input message="tns:RequestValidatingCodeSoapIn" />
      <wsdl:output message="tns:RequestValidatingCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HighpinCnWsiSoap" type="tns:HighpinCnWsiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestSessionTag">
      <soap:operation soapAction="http://www.highpin.cn/RequestSessionTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformFirstStep">
      <soap:operation soapAction="http://www.highpin.cn/PerformFirstStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestValidatingCode">
      <soap:operation soapAction="http://www.highpin.cn/RequestValidatingCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HighpinCnWsiSoap12" type="tns:HighpinCnWsiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestSessionTag">
      <soap12:operation soapAction="http://www.highpin.cn/RequestSessionTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformFirstStep">
      <soap12:operation soapAction="http://www.highpin.cn/PerformFirstStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestValidatingCode">
      <soap12:operation soapAction="http://www.highpin.cn/RequestValidatingCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HighpinCnWsi">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">智联卓聘网跨站查询WEB服务接口。&lt;br /&gt;&lt;br /&gt;此服务允许JavaScript进行访问。</wsdl:documentation>
    <wsdl:port name="HighpinCnWsiSoap" binding="tns:HighpinCnWsiSoap">
      <soap:address location="http://localhost:81/ZpWsi/HighpinCnWsi.asmx" />
    </wsdl:port>
    <wsdl:port name="HighpinCnWsiSoap12" binding="tns:HighpinCnWsiSoap12">
      <soap12:address location="http://localhost:81/ZpWsi/HighpinCnWsi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>