ZpConfigure/TargetSiteConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="http://www.highpin.cn" elementFormDefault="qualified" targetNamespace="http://www.highpin.cn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="csq.highpin.cn" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.HighpinCnQueryServiceSectionCT" />
	<xs:complexType name="MasterDuner.HHProjects.Csq.Highpincn.Configuration.AnalogousCredentialsElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="userName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取用于模拟的帐户名。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="passphrase" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取用来模拟登录的用户口令。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.HHProjects.Csq.Highpincn.Configuration.AnalogousSigninElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="analogousAccount" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.AnalogousCredentialsElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取模拟账户信息。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.HHProjects.Csq.Highpincn.Configuration.UrlResourceElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取URL。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取URL资源标识名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.HHProjects.Csq.Highpincn.Configuration.UrlResourceElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.UrlResourceElementCT">
				<xs:annotation>
					<xs:documentation>卓聘网URL资源配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MasterDuner.HHProjects.Csq.Highpincn.Configuration.SiteResourceElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="urls" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.UrlResourceElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The UrlResources.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="homePage" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.UrlResourceElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取卓聘网首页地址。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="domainName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取域名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.HHProjects.Csq.Highpincn.Configuration.SessionCachingElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="cacheSlidingExpirationEnabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>设置或获取是否启用滑动的会话缓存超时设置。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="absoluteExpirationMinutes" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>设置或获取绝对超时分钟数。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="slidingExpirationMinutes" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>设置或获取滑动超时分钟数。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.HHProjects.Csq.Highpincn.Configuration.HighpinCnQueryServiceSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="authentication" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.AnalogousSigninElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取卓聘网的模拟身份认证信息。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="resources" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.SiteResourceElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取卓聘网的站点资源。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="sessionCaching" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.SessionCachingElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取会话缓存设置。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="validatingCodeTempDir" type="tns:MasterDuner.HHProjects.Csq.Highpincn.Configuration.ValidatingCodeTemporaryDirectoryElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取验证码临时文件目录路径。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MasterDuner.HHProjects.Csq.Highpincn.Configuration.ValidatingCodeTemporaryDirectoryElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取临时文件路径。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
