Csq.Demo/Web References/ResumeSearchService/SearchChannelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:MasterDuner@Yeah.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:MasterDuner@Yeah.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:MasterDuner@Yeah.net">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreateSession">
        <s:complexType />
      </s:element>
      <s:element name="CreateSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateSessionResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HighpinCnLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:HPCredentials" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HPCredentials">
        <s:complexContent mixed="false">
          <s:extension base="tns:SearchChannelCredentials" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SearchChannelCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HighpinCnLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HighpinCnLoginResult" type="tns:HPAuthenResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HPAuthenResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:AuthenticationResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AuthenStatus" type="tns:HPAuthenStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AuthenticationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccessful" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:PerformStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="BindSessionID" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PerformStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Completed" />
          <s:enumeration value="HttpError" />
          <s:enumeration value="FailedValidatingCode" />
          <s:enumeration value="FailedCredentials" />
          <s:enumeration value="FailedSearchArguments" />
          <s:enumeration value="UnknownError" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="HPAuthenStatus">
        <s:restriction base="s:string">
          <s:enumeration value="WrongUserNameOrPassword" />
          <s:enumeration value="WrongValidatingCode" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="HighpinCnSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="searchParams" type="tns:HPRequirement" />
            <s:element minOccurs="0" maxOccurs="1" name="paging" type="tns:ResultPage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HPRequirement">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequirementBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Private" type="tns:HPExpandoRequirementObject" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RequirementBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="tns:KeywordsBase" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkLocations" type="tns:ArrayOfWorkLocationBase" />
          <s:element minOccurs="0" maxOccurs="1" name="Positions" type="tns:ArrayOfPositionBase" />
          <s:element minOccurs="1" maxOccurs="1" name="Gender" type="tns:Gender" />
          <s:element minOccurs="0" maxOccurs="1" name="Ages" type="tns:AgeBase" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkExperiences" type="tns:WorkExperienceBase" />
          <s:element minOccurs="0" maxOccurs="1" name="Salary" type="tns:SalaryBase" />
          <s:element minOccurs="0" maxOccurs="1" name="Degree" type="tns:EducationalBackgroundBase" />
          <s:element minOccurs="0" maxOccurs="1" name="Other" type="tns:ExpandoRequirementObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeywordsBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkLocationBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkLocationBase" nillable="true" type="tns:WorkLocationBase" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkLocationBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:IdBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IdBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InnerId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Industry">
        <s:complexContent mixed="false">
          <s:extension base="tns:IdBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResidenceLocation">
        <s:complexContent mixed="false">
          <s:extension base="tns:IdBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LanguageAbility">
        <s:complexContent mixed="false">
          <s:extension base="tns:IdBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Value" type="tns:LanguageAbilityDescription" />
              <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="LanguageAbilityDescription">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Ordinary" />
          <s:enumeration value="Well" />
          <s:enumeration value="Proficient" />
          <s:enumeration value="Versed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="DegreeBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:IdBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PositionBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:IdBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPositionBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PositionBase" nillable="true" type="tns:PositionBase" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Gender">
        <s:restriction base="s:string">
          <s:enumeration value="Man" />
          <s:enumeration value="Woman" />
          <s:enumeration value="All" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AgeBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Upper" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lower" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkExperienceBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Upper" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lower" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SalaryBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Min" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Max" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EducationalBackgroundBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JuniorDegree" type="tns:DegreeBase" />
          <s:element minOccurs="0" maxOccurs="1" name="SeniorDegree" type="tns:DegreeBase" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExpandoRequirementObject" />
      <s:complexType name="HPExpandoRequirementObject">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExpandoRequirementObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SnOfResume" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OverseasWorkingExperienceRequired" type="tns:OverseasWorkingExperienceRequired" />
              <s:element minOccurs="0" maxOccurs="1" name="LanguageAbilities" type="tns:ArrayOfLanguageAbility" />
              <s:element minOccurs="0" maxOccurs="1" name="ProfessionName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SchoolName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Residences" type="tns:ArrayOfResidenceLocation" />
              <s:element minOccurs="0" maxOccurs="1" name="Industries" type="tns:ArrayOfIndustry" />
              <s:element minOccurs="0" maxOccurs="1" name="Corporation" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Lastest" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="WorkingStatus" type="tns:WorkingStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="OverseasWorkingExperienceRequired">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Necessary" />
          <s:enumeration value="Unnecessary" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfLanguageAbility">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LanguageAbility" nillable="true" type="tns:LanguageAbility" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResidenceLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResidenceLocation" nillable="true" type="tns:ResidenceLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIndustry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Industry" nillable="true" type="tns:Industry" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WorkingStatus">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="OnJob" />
          <s:enumeration value="Left" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ResultPage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Index" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="HighpinCnSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HighpinCnSearchResult" type="tns:HPSearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HPSearchResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:SearchResultBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SearchResultBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccessful" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:PerformStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="DataExpression" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HighpinCnDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="detailsUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HighpinCnDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HighpinCnDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSessionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="CreateSessionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="HighpinCnLoginSoapIn">
    <wsdl:part name="parameters" element="tns:HighpinCnLogin" />
  </wsdl:message>
  <wsdl:message name="HighpinCnLoginSoapOut">
    <wsdl:part name="parameters" element="tns:HighpinCnLoginResponse" />
  </wsdl:message>
  <wsdl:message name="HighpinCnSearchSoapIn">
    <wsdl:part name="parameters" element="tns:HighpinCnSearch" />
  </wsdl:message>
  <wsdl:message name="HighpinCnSearchSoapOut">
    <wsdl:part name="parameters" element="tns:HighpinCnSearchResponse" />
  </wsdl:message>
  <wsdl:message name="HighpinCnDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:HighpinCnDetails" />
  </wsdl:message>
  <wsdl:message name="HighpinCnDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:HighpinCnDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchChannelServiceSoap">
    <wsdl:operation name="CreateSession">
      <wsdl:input message="tns:CreateSessionSoapIn" />
      <wsdl:output message="tns:CreateSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input name="HighpinCnLogin" message="tns:HighpinCnLoginSoapIn" />
      <wsdl:output name="HighpinCnLogin" message="tns:HighpinCnLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input name="HighpinCnSearch" message="tns:HighpinCnSearchSoapIn" />
      <wsdl:output name="HighpinCnSearch" message="tns:HighpinCnSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewResume">
      <wsdl:input name="HighpinCnDetails" message="tns:HighpinCnDetailsSoapIn" />
      <wsdl:output name="HighpinCnDetails" message="tns:HighpinCnDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchChannelServiceSoap" type="tns:SearchChannelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap:operation soapAction="urn:MasterDuner@Yeah.net/CreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn:MasterDuner@Yeah.net/HighpinCnLogin" style="document" />
      <wsdl:input name="HighpinCnLogin">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighpinCnLogin">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="urn:MasterDuner@Yeah.net/HighpinCnSearch" style="document" />
      <wsdl:input name="HighpinCnSearch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighpinCnSearch">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewResume">
      <soap:operation soapAction="urn:MasterDuner@Yeah.net/HighpinCnDetails" style="document" />
      <wsdl:input name="HighpinCnDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighpinCnDetails">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchChannelServiceSoap12" type="tns:SearchChannelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap12:operation soapAction="urn:MasterDuner@Yeah.net/CreateSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:MasterDuner@Yeah.net/HighpinCnLogin" style="document" />
      <wsdl:input name="HighpinCnLogin">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighpinCnLogin">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="urn:MasterDuner@Yeah.net/HighpinCnSearch" style="document" />
      <wsdl:input name="HighpinCnSearch">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighpinCnSearch">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewResume">
      <soap12:operation soapAction="urn:MasterDuner@Yeah.net/HighpinCnDetails" style="document" />
      <wsdl:input name="HighpinCnDetails">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighpinCnDetails">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchChannelService">
    <wsdl:port name="SearchChannelServiceSoap" binding="tns:SearchChannelServiceSoap">
      <soap:address location="http://localhost:81/Wsi/SearchChannelService.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchChannelServiceSoap12" binding="tns:SearchChannelServiceSoap12">
      <soap12:address location="http://localhost:81/Wsi/SearchChannelService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>