Csq.Demo/Web References/ResumeSearchService/SearchChannelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:MasterDuner@Yeah.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:MasterDuner@Yeah.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:MasterDuner@Yeah.net">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreateSession">
        <s:complexType />
      </s:element>
      <s:element name="CreateSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateSessionResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HighpinCnLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:HPCredentials" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HPCredentials">
        <s:complexContent mixed="false">
          <s:extension base="tns:SearchChannelCredentials" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SearchChannelCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HighpinCnLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HighpinCnLoginResult" type="tns:HPAuthenResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HPAuthenResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:AuthenticationResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AuthenStatus" type="tns:HPAuthenStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AuthenticationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccessful" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:PerformStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="BindSessionID" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PerformStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Completed" />
          <s:enumeration value="HttpError" />
          <s:enumeration value="FailedValidatingCode" />
          <s:enumeration value="FailedCredentials" />
          <s:enumeration value="FailedSearchArguments" />
          <s:enumeration value="UnknownError" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="HPAuthenStatus">
        <s:restriction base="s:string">
          <s:enumeration value="WrongUserNameOrPassword" />
          <s:enumeration value="WrongValidatingCode" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSessionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="CreateSessionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="HighpinCnLoginSoapIn">
    <wsdl:part name="parameters" element="tns:HighpinCnLogin" />
  </wsdl:message>
  <wsdl:message name="HighpinCnLoginSoapOut">
    <wsdl:part name="parameters" element="tns:HighpinCnLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchChannelServiceSoap">
    <wsdl:operation name="CreateSession">
      <wsdl:input message="tns:CreateSessionSoapIn" />
      <wsdl:output message="tns:CreateSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input name="HighpinCnLogin" message="tns:HighpinCnLoginSoapIn" />
      <wsdl:output name="HighpinCnLogin" message="tns:HighpinCnLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchChannelServiceSoap" type="tns:SearchChannelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap:operation soapAction="urn:MasterDuner@Yeah.net/CreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn:MasterDuner@Yeah.net/HighpinCnLogin" style="document" />
      <wsdl:input name="HighpinCnLogin">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighpinCnLogin">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchChannelServiceSoap12" type="tns:SearchChannelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap12:operation soapAction="urn:MasterDuner@Yeah.net/CreateSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:MasterDuner@Yeah.net/HighpinCnLogin" style="document" />
      <wsdl:input name="HighpinCnLogin">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HighpinCnLogin">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchChannelService">
    <wsdl:port name="SearchChannelServiceSoap" binding="tns:SearchChannelServiceSoap">
      <soap:address location="http://localhost:81/Wsi/SearchChannelService.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchChannelServiceSoap12" binding="tns:SearchChannelServiceSoap12">
      <soap12:address location="http://localhost:81/Wsi/SearchChannelService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>