Csq.Channels.HighpinCn/Configuration/HPConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:MasterDuner@Yeah.net" elementFormDefault="qualified" targetNamespace="urn:MasterDuner@Yeah.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="www.highpin.cn" type="tns:MasterDuner.Cooperations.Csq.Channels.Configuration.HPSectionCT" />
	<xs:complexType name="MasterDuner.Cooperations.Csq.Channels.Configuration.HPActionUrlElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取URL标识名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="baseUrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取基础URL。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Channels.Configuration.HPActionUrlElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:MasterDuner.Cooperations.Csq.Channels.Configuration.HPActionUrlElementCT">
				<xs:annotation>
					<xs:documentation>智联卓聘网页面URL配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Channels.Configuration.HPSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="actionUrls" type="tns:MasterDuner.Cooperations.Csq.Channels.Configuration.HPActionUrlElementCollectionCT">
				<xs:annotation>
					<xs:documentation>设置或获取智联卓聘网的URL配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="validatingCodeImage" type="tns:MasterDuner.Cooperations.Csq.Channels.Configuration.ValidatingCodeImageElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取验证码图片配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Channels.Configuration.ValidatingCodeImageElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="temporaryDirectory" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取用于存放验证码图片的临时目录。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="autoDelete" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>设置或获取是否自动删除验证码图片。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
