Csq.Commons.CoreLib/Configuration/SearchChannelsConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:MasterDuner@Yeah.net" elementFormDefault="qualified" targetNamespace="urn:MasterDuner@Yeah.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="csq.channels" type="tns:MasterDuner.Cooperations.Csq.Commons.Configuration.SearchChannelSectionCT" />
	<xs:complexType name="MasterDuner.Cooperations.Csq.Commons.Configuration.EntryPointElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="privateConfig" type="tns:MasterDuner.Cooperations.Csq.Commons.Configuration.PrivateConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取私有配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>设置或获取是否启用此入口点。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Commons.Configuration.UrlElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取URL。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Commons.Configuration.SearchChannelElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="entryPoint" type="tns:MasterDuner.Cooperations.Csq.Commons.Configuration.EntryPointElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取入口点配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="homePage" type="tns:MasterDuner.Cooperations.Csq.Commons.Configuration.UrlElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取首页URL配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="caching" type="tns:MasterDuner.Cooperations.Csq.Commons.Configuration.DataCacheElementCT">
				<xs:annotation>
					<xs:documentation>设置或获取缓存配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>设置或获取渠道标记值。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取描述信息。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="domain" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取搜索渠道的域名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Commons.Configuration.PrivateConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="hasPrivateConfigurationFile" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>设置或获取是否含有私有配置。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="privateConfigurationFileName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取私有配置文件名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Commons.Configuration.SearchChannelElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:MasterDuner.Cooperations.Csq.Commons.Configuration.SearchChannelElementCT">
				<xs:annotation>
					<xs:documentation>搜索渠道配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Commons.Configuration.SearchChannelSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:MasterDuner.Cooperations.Csq.Commons.Configuration.SearchChannelElementCT">
				<xs:annotation>
					<xs:documentation>搜索渠道配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MasterDuner.Cooperations.Csq.Commons.Configuration.DataCacheElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="cacheRequired" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>设置或获取是否需要缓存。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="namePrefix" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取缓存标识名称前缀。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
